{% extends "base.html" %}
<!-- Title of the page -->
{% block title %} About Us - My Website {% endblock %}

{% block header %}
<h1>Turning Data into Actionable Insights</h1>
<span class="subheading"> Specializing in Machine Learning and Predictive Analytics</span>
{% endblock %}

<!-- Main content of the page -->
{% block content %}
<section>
    <div class="container card-container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-10">
                <!-- Personal Information -->
                <div class="card">
                    <img src="../static/assets/img/profile_pic.jpg" alt="Profile Picture" class="rounded-circle small-profile-pic">
                    <div class="card-body">
                        <h5 class="card-title">Tsering Dhargyal</h5>
                        <p class="card-text">I’m a data enthusiast with a passion for turning data into actionable insights.
                            With a strong command of Python, R, SQL, and Tableau, I specialize in Machine Learning
                            and Predictive Analytics. My approach to problem-solving is both analytical and creative,
                            always aiming to uncover meaningful patterns and trends in data.
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Data Scientist</li>
                            <li class="list-group-item">codewithtd@gmail.com</li>
                            <li class="list-group-item">codewithtd.com</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <a href="#" class="card-link">
                            <svg class="bi me-2" width="24" height="24">
                                <use xlink:href="../static/assets/img/social-icons.svg#instagram"></use>
                            </svg>
                        </a>
                        <a href="https://x.com/tseringdhargyal" class="card-link">
                            <svg class="bi me-2" width="24" height="24">
                                <use xlink:href="../static/assets/img/social-icons.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="https://x.com/tseringdhargyal" class="card-link">
                            <svg class="bi me-2" width="24" height="24">
                                <use xlink:href="../static/assets/img/social-icons.svg#twitter"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <!-- experience  section -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Experiences</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Business Analyst at TibetArts</h6>
                        <p class="card-text text-muted">2019 - 2020</p>
                        <p class="card-text">
                            Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                            Each project in this section represents a unique challenge I've tackled, using a combination of
                            machine learning, statistical analysis, and data visualization to deliver impactful solutions.
                        </p>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">Digital marketing analyst at CreativePlastic</h6>
                        <p class="card-text text-muted">2020 - 2022</p>
                        <p class="card-text">
                            Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                            Each project in this section represents a unique challenge I've tackled, using a combination of
                            machine learning, statistical analysis, and data visualization to deliver impactful solutions.
                        </p>
                    </div>
                </div>
                <!-- Project section -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Projects</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Enhancement of clean Air Zones to reduce air-pollution caused
                        by vehicles in UK</h6>
                        <p class="card-text text-muted">Excel | Python | Tableau | PowerBI | Machine Learning | Automation</p>
                        <p class="card-text">
                            Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                            Each project in this section represents a unique challenge I've tackled, using a combination of
                            machine learning, statistical analysis, and data visualization to deliver impactful solutions.
                            visit my <a href="#">github</a>
                        </p>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">Book Recommendation System</h6>
                        <p class="card-text text-muted">Excel | Python | Tableau | PowerBI | Machine Learning | Automation</p>
                        <p class="card-text">
                            Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                            Each project in this section represents a unique challenge I've tackled, using a combination of
                            machine learning, statistical analysis, and data visualization to deliver impactful solutions.
                            visit my <a href="#">github</a>
                        </p>
                    </div>
                </div>

                <!-- Skill section -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Skills</h4>
                        <span class="badge bg-primary">Python</span>
                         <span class="badge bg-primary">R</span>
                         <span class="badge bg-primary">SQL</span>
                         <span class="badge bg-primary">Tableau</span>
                        <span class="badge bg-primary">Machine Learning</span>
                         <span class="badge bg-primary">Data Visualization</span>
                    </div>
                </div>

                <!-- Certificate and Degree section -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Certificate & Degree</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Msc. Big Data Analytics</h6>
                        <p class="card-text text-muted">Sheffield Hallam University,UK 2022-2023</p>
                        <p class="card-text">
                            Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                            Each project in this section represents a unique challenge I've tackled, using a combination of
                            machine learning, statistical analysis, and data visualization to deliver impactful solutions.
                            visit my <a href="#">github</a>
                        </p>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">100 Days of Code: The complete Python Pro Bootcamp </h6>
                        <p class="card-text text-muted">Excel | Python | Tableau | PowerBI | Machine Learning | Automation</p>
                        <p class="card-text">
                            Master Python by building 100 projects in 100 days.
                            Learn data science, automation, build websites, games and apps!
                            visit <a href="https://www.udemy.com/course/100-days-of-code/?couponCode=HT815INMT81324">course</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

