{% extends "base.html" %}
{% block title %} Home Page {% endblock%}

{% block header %}
<h1>Turning Data into Actionable Insights</h1>
<span class="subheading"> Specializing in Machine Learning and Predictive Analytics</span>
{% endblock %}

<!-- Main content of the page -->
{% block content %}
<!-- Content - About me section-->
<section class="py-1">
    <div class="container">
        <div class="row px-2 py-lg-1">
            <div class="col-lg-12 col-md-10 mx-auto">
                <h3>About me </h3>
                <p>I’m a data enthusiast with a passion for turning data into actionable insights.
                    With a strong command of Python, R, SQL, and Tableau, I specialize in
                    Machine Learning and Predictive Analytics. My approach to problem-solving is both
                    analytical and creative, always aiming to uncover meaningful patterns and trends in data.
                    Whether it's building predictive models or crafting insightful visualizations,
                    I’m dedicated to leveraging data to drive smarter decisions and impactful outcomes.
                </p>
                <p><a href="/about" class="btn custom-btn my-2">Know more</a></p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container card-container">
        <div class="row">
            <div class="col-lg-12 col-md-10  mx-auto">
                <h3>Explore my work</h3>
                <p>
                    Welcome to my project showcase, where you can see the practical applications of my data science expertise.
                    Each project in this section represents a unique challenge I've tackled,
                    using a combination of machine learning, statistical analysis, and data visualization to deliver
                    impactful solutions.
                    <a href="{{ url_for('projects') }}">View more projects</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-4 col-md-10  mx-auto">
                <div class="card">
                    <img src="../static/assets/img/home-header-bg.jpg" class="card-img-top" alt="Linked Distribution insights">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn Metrics Distribution</h5>
                        <p class="card-text">
                            LinkedIn Metrics Distribution tracks and analyzes LinkedIn performance,
                            providing insights into engagement, audience demographics, and growth to optimize strategy.
                        </p>
                        <p><a href="/about" class="btn custom-btn my-2">Git repo</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10  mx-auto">
                <div class="card">
                    <img src="../static/assets/img/home-header-bg.jpg" class="card-img-top" alt="Linked Distribution insights">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn Metrics Distribution</h5>
                        <p class="card-text">
                            LinkedIn Metrics Distribution tracks and analyzes LinkedIn performance,
                            providing insights into engagement, audience demographics, and growth to optimize strategy.
                        </p>
                        <p><a href="/about" class="btn custom-btn my-2">Git repo</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10 mx-auto">
                <div class="card">
                    <img src="../static/assets/img/thumbnil.jpg" class="card-img-top" alt="portfolio thumbnil">
                    <div class="card-body">
                        <h5 class="card-title">student performance prediction on e-learning platform</h5>
                        <p class="card-text">
                            Built a model to predict student performance on an e-learning platform,
                            using engagement data and quiz scores. Helps identify at-risk students.
                        </p>
                        <p><a href="/about" class="btn custom-btn my-2">Git repo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}